<div id="sl_ad">
<% if Rails.env.production? %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5400903051441488" crossorigin="anonymous"></script>
<% else %>
<div style="width:100%;padding-top:10%;background:red">&nbsp;</div>
<% end %>
</div>
