<footer class="border-top">
	<div class="container">
		<div class="row">
			<address class="col-12 col-lg-9">CopyLeft. 2012, SL. All wrongs reserved.&nbsp;&nbsp; <br class="visible-xs" />주소 : 아프리카 사자굴 &nbsp;&nbsp;</address>
			<br />
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class=" attachment-200089 logo-instagram"><g fill="currentColor" fill-rule="nonzero"><path d="m11.9810941.03781182c-3.25386434 0-3.66186434.01370678-4.93974618.07210503-1.27530853.0582407-2.1462407.26074398-2.90825383.55688402-.78790372.30617068-1.45607002.71585121-2.12213567 1.38191685-.66606564.66606565-1.07574617 1.33428447-1.38186433 2.12213567-.29629759.76211816-.49880087 1.63305033-.55693654 2.90830635-.05834573 1.27788184-.07210503 1.68582932-.07210503 4.93969366 0 3.2539694.0137593 3.6619168.07210503 4.9397987.05813567 1.275256.26063895 2.1461882.55693654 2.9083063.30611816.7878512.71579869 1.45607 1.38186433 2.1221357.66606565.6660656 1.33423195 1.0757462 2.12213567 1.3819168.76201313.2961401 1.6329453.4986434 2.90825383.5568841 1.27788184.0582932 1.68588184.072105 4.93974618.072105 3.2538643 0 3.6619168-.0138118 4.9397987-.072105 1.275256-.0582407 2.1461882-.260744 2.9082538-.5568841.7879037-.3061706 1.4560175-.7158512 2.1220832-1.3819168.6660656-.6660657 1.0757461-1.3342845 1.3819168-2.1221357.2962451-.7621181.4987484-1.6330503.5569366-2.9083063.0583457-1.2778819.0720525-1.6858293.0720525-4.9397987 0-3.25386434-.0137068-3.66181182-.0720525-4.93969366-.0581882-1.27525602-.2606915-2.14618819-.5569366-2.90830635-.3061707-.7878512-.7158512-1.45607002-1.3819168-2.12213567-.6660657-.66606564-1.3341795-1.07574617-2.1220832-1.38191685-.7620656-.29614004-1.6329978-.49864332-2.9082538-.55688402-1.2778819-.05839825-1.6859344-.07210503-4.9397987-.07210503m0 2.1587396c3.1990897 0 3.5779431.01218381 4.8413829.06979431 1.1681226.05330416 1.8025208.24856018 2.2247002.41256893.5592998.21736543.9584246.47700657 1.3776105.89624508.4193436.41929103.6789847.81836324.8962451 1.3776105.1640088.42217943.3592648 1.0566302.412569 2.22470022.0576105 1.26343982.0698468 1.64229322.0698468 4.84138294 0 3.1991947-.0122363 3.5780481-.0698468 4.8413829-.0533042 1.1681751-.2485602 1.8026258-.412569 2.2248053-.2172604.5591947-.4769015.9583195-.8962451 1.3776105-.4191859.4192385-.8183107.6788796-1.3776105.8961925-.4221794.1640613-1.0565776.3593173-2.2247002.4125165-1.2632297.0577155-1.6420306.0698468-4.8413829.0698468-3.19935231 0-3.57815318-.0121313-4.84138294-.0698468-1.16807002-.0531992-1.80252079-.2484552-2.22470022-.4125165-.55924726-.2173129-.95837199-.476954-1.3776105-.8961925-.419186-.419291-.67882714-.8184158-.89619256-1.3776105-.16406127-.4221795-.35926477-1.0566302-.41262145-2.2248053-.05755798-1.2633348-.06979431-1.6421882-.06979431-4.8413829 0-3.19908972.01223633-3.57794312.06979431-4.84138294.05335668-1.16807002.24856018-1.80252079.41262145-2.22470022.21736542-.55924726.47700656-.95831947.89619256-1.3776105.41923851-.41923851.81836324-.67887965 1.3776105-.89624508.42217943-.16400875 1.0566302-.35926477 2.22470022-.41256893 1.26343982-.0576105 1.64229322-.06979431 4.84138294-.06979431"></path><path d="m11.9810941 16.0125689c-2.20563677 0-3.99371554-1.7880262-3.99371554-3.9937155 0-2.20563677 1.78807877-3.99366303 3.99371554-3.99366303 2.2056893 0 3.9937155 1.78802626 3.9937155 3.99366303 0 2.2056893-1.7880262 3.9937155-3.9937155 3.9937155zm0-10.14611813c-3.39786434 0-6.15240263 2.75459081-6.15240263 6.15240263 0 3.3979694 2.75453829 6.1524551 6.15240263 6.1524551 3.3978643 0 6.1524026-2.7544857 6.1524026-6.1524551 0-3.39781182-2.7545383-6.15240263-6.1524026-6.15240263zm6.3955536 1.19464332c-.7939956 0-1.4377418-.64374617-1.4377418-1.43774179 0-.79404814.6437462-1.4377418 1.4377418-1.4377418.7940481 0 1.4377418.64369366 1.4377418 1.4377418 0 .79399562-.6436937 1.43774179-1.4377418 1.43774179z"></path></g></svg>
			<svg id="youtube" height="20" viewBox="0 0 29 20" width="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class=" attachment-200131 logo-youtube"><g fill="none" fill-rule="nonzero"><path d="m27.57152 3.09808c-.32384-1.21952-1.27792-2.17984-2.4896-2.50576-2.196-.59232-11.00192-.59232-11.00192-.59232s-8.80592 0-11.00192.59232c-1.21152.32592-2.16576 1.28624-2.4896 2.50576-.58848 2.21024-.58848 6.82192-.58848 6.82192s0 4.61152.58848 6.82208c.32384 1.21936 1.27808 2.17968 2.4896 2.50576 2.196.59216 11.00192.59216 11.00192.59216s8.80592 0 11.00192-.59216c1.21168-.32608 2.16576-1.2864 2.4896-2.50576.58848-2.21056.58848-6.82208.58848-6.82208s0-4.61168-.58848-6.82192" fill="currentColor" mask="url(#a)"></path><path id="youtubePlayButton" d="m11.2 14.107 7.36-4.187-7.36-4.187z"></path></g></svg>
	<div class="col-12 col-lg-3 dropdown">
		<%= link_to '#', { class: 'dropdown-toggle',role:"button",'data-bs-toggle': "dropdown",'aria-expanded':"false"} do %>
			테마설정
		<% end %>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
					밝은
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
					어두운
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
					자동
				</button>
			</li>
		</ul>
	</div>
		</div>
	</div>
</footer>
