<footer>
			<address>CopyLeft. 2022, jingyu all wrongs reserved.&nbsp;&nbsp; <br class="visible-xs" />주소 : 경기도 수원시</address>
	<div id="theme-selector" class="dropdown">
		<%= link_to '#', { class: 'dropdown-toggle',role:"button",'data-bs-toggle': "dropdown",'aria-expanded':"false"} do %>
			테마설정
		<% end %>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
					밝은
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
					어두운
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
					자동
				</button>
			</li>
		</ul>
	</div>
</footer>
