<footer class="border-top">
	<div class="container">
		<div class="row">
			<address class="col-12 col-lg-9">CopyLeft. 2012, SL. All wrongs reserved.&nbsp;&nbsp; <br class="visible-xs" />주소 : 아프리카 사자굴 &nbsp;&nbsp;
				<a href="https://www.youtube.com/@toughjjh" target="_blank"><%=image_tag('icon/youtube',  height: '28', width: '32') %></a>
				<a href="https://www.instagram.com/sleepinglion.pe.kr/" target="_blank"><%=image_tag('icon/instagram',  height: '28', width: '32') %></a>
			</address>
	<div class="col-12 col-lg-3 dropdown text-end">
		<%= link_to '#', { class: 'dropdown-toggle',role:"button",'data-bs-toggle': "dropdown",'aria-expanded':"false"} do %>
			테마설정
		<% end %>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
					밝은
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
					어두운
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
					자동
				</button>
			</li>
		</ul>
	</div>
		</div>
	</div>
</footer>
